<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="center white-text home-welcome">Welcome to Rockaway Ice Lady</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><%=image_tag("ice_on_cans.jpg", id: "home-cans")%></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center acid-green-text home-text-sz">
        <%= link_to (flavors_about_path) do %>
          <h3 class="acid-green-text">Rockaway's Home for Individually Handcrafted Italian Ices</h3>
          <p class="center-align acid-green-text">Unique flavors such as Arnold Palmer, Cookie Monster, Caribbean Rainbow and more!</p>
          <p class="center-align acid-green-text"><h4 class="emph acid-green-text animated infinite bounce">Adult</h4> <span class="acid-green-text">flavors available.</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2><%= link_to("Get Your Loyalty Card Now!", home_download_card_path, rel: "noreferrer", class: "parallax-nav")%></h2>
      </div>
    </div>
  </div>
  <div class="parallax"><%=image_tag("hydrant.jpg", id: "home-hyd")%></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center acid-green-text  home-text-sz">
        <%= link_to (maps_wheres_cart_path) do %>
          <h3 class="acid-green-text" >Mouth Watering Yet???</h3>
          <span id="home-cart-lnk" class="acid-green-text  animated">Find Out Where the Cart is...</span>
          <!-- <%= link_to("Find Out Where the Cart is...", maps_wheres_cart_path, id: "home-cart-lnk", class: "acid-green-text  animated") %> -->
          <p class="emph home-cart-emp home-cart center-align acid-green-text animated">and Catch Me if You Can!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2><%= link_to("Subscribe for Special Events and Promos", new_contact_path, class: "spanish-orange-text parallax-nav") %></h2>
      </div>
    </div>
  </div>
  <div class="parallax"><%=image_tag("bench.jpg", id: "home-bench")%></div>
</div>
<div class="container">
  <div class="section">
    <!--   Slide Show   -->
    <div class="row">
      <div class="col s12 m2">
      </div>
      <div class="col s12 m8">
        <div id="slides" class="col s12">
          <h2 id="slide1" class="slide showing"><BR><%= link_to("Favorite Flavor Friday is Coming...", flavors_flavor_friday_form_path, class: "white-text parallax-nav") %></h2>
          <h2 id="slide2" class="slide"><BR><%= link_to("Vote for Yours Today!", flavors_flavor_friday_form_path, class: "white-text parallax-nav") %></h2>
          <h2 id="slide3" class="slide"><BR><%= link_to("See Which Flavors are Trending", flavors_flavor_faves_path, class: "white-text parallax-nav") %></h2>
          <h2 id="slide4" class="slide"><BR><%= link_to("Get Your Loyalty Card Now!", home_download_card_path, rel: "noreferrer", class: "white-text parallax-nav") %></h2>
        </div>
      </div>
      <div class="col s12 m2">
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%=image_tag("butterfly.jpg", id: "home-fly")%></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><%=link_to("Meet the Rockaway Ice Lady", home_commercial_path, class: "acid-green-text")%></h3>
        <!-- <p class="left-align light"></p> -->
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2><%= link_to("Book an Event Today!", events_event_form_path, class: "white-text parallax-nav") %></h2>
        <!-- <a href="/events/event_form" class="white-text parallax-nav">Book an Event Today!</a> -->
      </div>
    </div>
  </div>
  <div class="parallax"><%=image_tag("book.jpg", id: "home-book")%></div>
</div>
