<div class="parallax-container">
  <div class="section">
    <div class="container">
      <BR>
      <BR>
      <h1 class="header center white-text">Welcome to Rockaway Ice Lady</h1>
      <div class="row center">
        <h4 class="header col s12 white-text">Rockaway's Home for Individually Handcrafted Italian Ices</h4>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%=image_tag("ice_on_cans.jpg", id: "home-cans")%>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">

      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%=image_tag("hydrant.jpg", id: "home-hyd")%>
  </div>
</div>
<div class="container">
</div>
<div class="parallax-container">
  <div class="parallax">
    <%=image_tag("bench.jpg", id: "home-bench")%>
  </div>
</div>
<div class="container">
</div>
<div class="parallax-container">
  <div class="parallax">
    <%=image_tag("butterfly.jpg", id: "home-fly")%>
  </div>
</div>
<div class="container">
</div>
<div class="parallax-container">
  <div class="parallax">
    <%=image_tag("book.jpg", id: "home-book")%>
  </div>
</div>
