<div class="evt_f_div">
  <%= form_tag("/events", id: "event_form", class: "evt_f", method: :post) do %>
  <span class=evt_f_note><em>* All Fields Required</em></span>
  <p class="evt_f_p">
    <span class="evt_f_s">
      <%= label_tag(:email, "Email:") %>
      <%= email_field(:email, nil, required: true) %>
    </span>
    <span class="evt_f_s">
      <%= label_tag(:phone, "Phone Number:") %>
      <%= text_field_tag(:phone, nil, required: true) %>
    </span>
  </p>
  <p class="evt_f_p">
    <span class="evt_f_s">
      <%= label_tag(:fname, "First Name:") %>
      <%= text_field_tag(:fname, nil, required: true) %>
    </span>
    <span class="evt_f_s">
      <%= label_tag(:lname, "Last Name:") %>
      <%= text_field_tag(:lname, nil, required: true) %>
    </span>
  </p>
  <p class="evt_f_p">
    <%= label_tag(:date, "Event Date:") %>
    <%= date_field(:date, nil, required: true) %>
  </p>
  <p class="evt_f_p">
    <%= label_tag(:desc, "Please describe event:") %>
  </p>
  <p class="evt_f_p">
    <%= text_area_tag(:desc, nil, required: true, size: "75x10") %>
  </p>
  <p class="evt_f_p">
    <%= label_tag(:loc, "Event Location:") %>
    <%= text_field_tag(:loc, nil, required: true) %>
  </p>
  <p class="evt_f_p">What type of packages are of interest to you?
    <span class=evt_f_note><em> ...Please choose at least one.</em></span>
  </p>
  <p class="evt_f_p">
    <%= check_box_tag(:ices) %>
    <%= label_tag(:ices, "Rockaway Ice Lady") %>
    <%= check_box_tag(:fire) %>
    <%= label_tag(:fire, "Fire and Ice") %>
  </p>
  <p class="evt_f_btn">
    <%= submit_tag("Submit") %>
  </p>
  <% end %>
</div>
